:root{
  --aColor: #ffffff;
  --bColor: #2B2B2B;
  --cColor: #eeeeee;
	--dColor: #d0d0d0;
	--aBorderR: 0%;
}
@keyframes tst
{
	0% {--gC:red !important;}
	100% {--gC:green !important;}
	
}
html{
	scroll-behavior: smooth;
	-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body
{
	margin:0px;
	position:absolute;
	top:0;
	left:0;
	height: 100vh !important;
	width: 100%;
	font-family: 'Comfortaa';
	background-color:var(--cColor);	
	background-blend-mode:;
	background-image:url('bg2.png');
	background-repeat: repeat;
	*/
}
p
{
	color:white;
	position:fixed;
	font-family:arial;
	font-size:30px;
	top:calc(50vh - 30px);
	height:100vh;
	width:100vw;
	text-align:center;
}